{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('esinergiawil/cardinfo')}}
<article class="cardinfo cardinfo-{{ content.field_cardsinfo_wilmer['#object'].id.0.value }}">
	<h1>{{ content.field_cardsinfo_wilmer.0.field_title_banner_wilmer.0["#context"].value|striptags }}</h1>
	<picture class="cardinfo-image">
		{{ content.field_cardsinfo_wilmer.0.field_image_banner.0 }}
		<div class="cardinfo-text">
			<div>
				{% if content.field_cardsinfo_wilmer['#object'].id.0.value == 24 %}
					<svg width="76px" height="76px" viewbox="0 0 128.00 128.00" xmlns="http://www.w3.org/2000/svg" fill="#008437" stroke="#008437" stroke-width="0.00128" transform="matrix(-1, 0, 0, 1, 0, 0)rotate(0)">
						<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
						<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="2.56"></g>
						<g id="SVGRepo_iconCarrier">
							<defs>
								<style>
									.cls-1 {
										fill: #008437;
									}
								</style>
							</defs>
							<g data-name="Eco Save" id="Eco_Save">
								<path class="cls-1" d="M63,98.62A35.68,35.68,0,0,1,56.56,98L56.37,98,17.52,82.57A4,4,0,0,1,15,78.86V76a4,4,0,0,1,1.54-3.16A3.93,3.93,0,0,1,20,72.14c7.54,1.88,32.54,8,38,8h0a12.63,12.63,0,0,0,6.54-1.88L67,76.77V73.33a5.22,5.22,0,0,1,5-5H90l.2,0a42.31,42.31,0,0,0,15.64,0H112a1,1,0,0,1,1,1v19a1,1,0,0,1-1,1H94.92a8.81,8.81,0,0,0-3.33.64L76.31,96.05A35.74,35.74,0,0,1,63,98.62Zm-6-2.53A33.82,33.82,0,0,0,75.57,94.2l15.28-6.09a10.91,10.91,0,0,1,4.07-.78H111v-17h-4.92a44.36,44.36,0,0,1-16.18,0H72a3,3,0,0,0-2,.93,3,3,0,0,0-1,2.07v3l20.34.55a1,1,0,0,1,1,1,1,1,0,0,1-1,1l-21-.57L65.46,80a14.63,14.63,0,0,1-7.52,2.14h0c-5.51,0-28.72-5.66-38.45-8.09A2,2,0,0,0,17,76v2.84a2,2,0,0,0,1.26,1.85Z"></path>
								<path class="cls-1" d="M64,51.32a1,1,0,0,1-.75-.34L61,48.42a12.19,12.19,0,0,1,0-16.14h0l2.22-2.56a1,1,0,0,1,1.5,0L67,32.28a12.19,12.19,0,0,1,0,16.14L64.75,51A1,1,0,0,1,64,51.32ZM62.54,33.59h0a10.21,10.21,0,0,0,0,13.52L64,48.8l1.46-1.69a10.21,10.21,0,0,0,0-13.52L64,31.9Z"></path>
								<path class="cls-1" d="M66.54,59.28a1,1,0,0,1-.71-.29,1,1,0,0,1-.29-.78l.21-2.76a10.32,10.32,0,0,1,9.54-9.54h0l2.76-.21a1,1,0,0,1,.78.29,1,1,0,0,1,.29.78l-.21,2.76a10.31,10.31,0,0,1-9.54,9.54l-2.75.21Zm8.91-11.37a8.31,8.31,0,0,0-7.7,7.69l-.12,1.6,1.59-.13a8.32,8.32,0,0,0,7.7-7.69l.12-1.6-1.59.13Z"></path>
								<path class="cls-1" d="M61.46,59.28h-.08l-2.75-.21a10.31,10.31,0,0,1-9.54-9.54l-.21-2.76a1,1,0,0,1,.29-.78A1,1,0,0,1,50,45.7l2.76.21h0a10.32,10.32,0,0,1,9.54,9.54l.21,2.76a1,1,0,0,1-.29.78A1,1,0,0,1,61.46,59.28ZM51,47.78l.12,1.6a8.32,8.32,0,0,0,7.7,7.69l1.59.13-.12-1.6a8.31,8.31,0,0,0-7.7-7.69Z"></path>
							</g>
						</g>
					</svg>
				{% else %}
					<svg fill="#ec0000" viewbox="0 0 80 80" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg">
						<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
						<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
						<g id="SVGRepo_iconCarrier">
							<title></title>
							<path d="M78.49,40.13l-8.83-4.91L56,17.9A5,5,0,0,0,52.06,16H11.12a5,5,0,0,0-4.85,3.79L1,40.76A1,1,0,0,0,1,41V55a1,1,0,0,0,1,1H6.06a9,9,0,0,0,17.88,0H52.06a9,9,0,0,0,17.88,0H78a1,1,0,0,0,1-1V41A1,1,0,0,0,78.49,40.13ZM39.37,18H52.06a3,3,0,0,1,2.36,1.14L66.94,35H39.37Zm-2,0V35H11.53l4.25-17ZM15,62a7,7,0,1,1,7-7A7,7,0,0,1,15,62Zm46,0a7,7,0,1,1,7-7A7,7,0,0,1,61,62Zm16-8H69.94a9,9,0,0,0-17.88,0H23.94A9,9,0,0,0,6.06,54H3V41.12L8.21,20.27A3,3,0,0,1,11.12,18h2.6L9.28,35.76a1,1,0,0,0,.18.86,1,1,0,0,0,.79.38H68.74L77,41.59Z"></path>
						</g>
					</svg>
				{% endif %}
			</div>
			<h2>{{ content.field_cardsinfo_wilmer.0.field_description_banner_wilmer.0["#text"]|striptags }}</h2>
		</div>
	</picture>
	<section></section>
</article>
